@using LasEmpanadas.Models
@model Pedido
@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/iniciar-pedido.css" />
<script type="text/javascript" src="~/Content/js/iniciar-pedido.js"></script>

<div class="main-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport" uk-height-viewport="offset-top: true">
    <div class="iniciar-pedido-form uk-card-default uk-card-hover uk-card-body">
        <h2>Encarga un nuevo Pedido</h2>
        <hr />
        @using (Html.BeginForm("iniciar", "pedidos", FormMethod.Post, new { @class = "uk-form-stacked" }))
        {
            <div uk-grid>

                <div class="uk-width-6-6">
                    @Html.LabelFor(p => p.NombreNegocio, new { @class = "uk-form-label" })
                    <div class="uk-form-controls">
                        @Html.TextBoxFor(p => p.NombreNegocio, new { @class = "uk-input", @placeholder = "Nombre del negocio" })
                    </div>
                </div>
                <div class="uk-width-6-6">
                    @Html.LabelFor(p => p.Descripcion, new { @class = "uk-form-label" })
                    <div class="uk-form-controls">
                        @Html.TextAreaFor(p => p.Descripcion, new { @class = "uk-textarea ", @placeholder = "Descripción" })
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-1-2">
                    @Html.LabelFor(p => p.PrecioUnidad, new { @class = "uk-form-label" })
                    <div class="uk-form-controls">
                        @Html.TextBoxFor(p => p.PrecioUnidad, new { @class = "uk-input ", @Type = "number", @placeholder = "Precio por unidad" })
                    </div>
                </div>
                <div class="uk-width-1-2">
                    @Html.LabelFor(p => p.PrecioDocena, new { @class = "uk-form-label"})
                    <div class="uk-form-controls">
                        @Html.TextBoxFor(p => p.PrecioDocena, new { @class = "uk-input", @Type = "number", @placeholder = "Precio por docena" })
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-3-6" >
                    <label uk-tooltip="title: Seleccione los gustos; pos: top-left" class="uk-form-label" for="gustos">Gustos:</label>
                    <select class="uk-select multiple" name="gustos" multiple="multiple">
                        <option value="1">A</option>
                        <option value="2">B</option>
                        <option value="3">C</option>
                        <option value="4">D</option>
                    </select>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-3-6">
                    <label class="uk-form-label" for="gustos">Email tus amigos:</label>
                    <div class="email-id-row">
                        <div class="all-mail">
                        </div>
                        <input uk-tooltip="title: Para ingresar multiples emails, separar con espacio; pos: top-left" type="text" name="email" class="uk-input enter-mail-id" placeholder="Ingresa los emails de tus amigos.." />
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-6-6"  >
                    <button value="Cancelar" class="uk-button uk-button-danger uk-button-small">Cancelar</button>
                    <input type="submit" name="sendPedido" value="Iniciar Pedido" class="uk-button uk-button-primary uk-button-small" />
                </div>
            </div>
        }
    </div>

</div>
