<!DOCTYPE html>
<html>
<head>
    <!-- #####  JQUERY  ##### -->
    <script type="text/javascript" src="~/Content/js/jQuery/jquery-3.3.1.min.js"></script>

    <!-- #####  FONT AWESOME ##### -->
    <link rel="stylesheet" href="~/Content/css/fontawesome/css/fontawesome.min.css" />
    <script type="text/javascript" src="~/Content/js/fontawesome/fontawesome.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    @RenderSection("css")

    <!-- #####  SELECT2 ##### -->
    <link rel="stylesheet" href="~/Content/css/select2/select2.min.css" />
    <script type="text/javascript" src="~/Content/js/select2/select2.full.min.js"></script>

    <!-- #####  DATATABLES  ##### -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/datatables/datatables.min.css" />
    <script type="text/javascript" src="~/Content/js/datatables/datatables.min.js"></script>

    <!-- #####  TOASTR  ##### -->
    <script type="text/javascript" src="~/Content/js/Toastr/jquery.toaster.js"></script>

    <!-- #####  UI KIT   #### -->
    <link rel="stylesheet" href="~/Content/css/uikit/uikit.min.css" />
    <link rel="stylesheet" href="~/Content/css/uikit/uikit-rtl.min.css" />
    <script type="text/javascript" src="~/Content/js/uikit/uikit.min.js"></script>
    <script type="text/javascript" src="~/Content/js/uikit/uikit-icons.min.js"></script>

    <!-- #####  GENERAL ##### -->
    <link rel="stylesheet" href="~/Content/css/styles.css" />
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>

    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    @RenderSection("meta")

</head>
<body>
   
    @RenderSection("nav", true)
   
    <div>
        @RenderBody()
    </div>
   
    @RenderSection("js")

</body>
</html>