@using LasEmpanadas.Models.DTO
@using LasEmpanadas.Models

@model PedidoCompletoDTO
@{
    var gustos = ViewBag.TodosLosGustos;
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/css/iniciar-pedido.css" />
<script type="text/javascript" src="~/Content/js/editar-pedido.js"></script>

<div class="main-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport" uk-height-viewport="offset-top: true">
    <div class="iniciar-pedido-form uk-card-default uk-card-hover uk-card-body">
        <h2>Encarga un nuevo Pedido</h2>
        @using (Html.BeginForm("Editar", "Pedido", FormMethod.Post, new { @class = "uk-form-stacked", @id = "form" }))
        {
            @Html.TextBoxFor(P => P.IdPedido, new { id = "idPedido", Style = "display: none" })
            <div uk-grid>
                <div class="uk-width-6-6">
                    @Html.LabelFor(P => P.NombreNegocio, new { @class = "uk-form-label" })
                    <div class="uk-form-controls" uk-tooltip="title: Detalle el nombre del negocio...; pos: top-right">
                        @Html.TextBoxFor(P => P.NombreNegocio, new { @class = "uk-input", @placeholder = "Nombre del negocio" })
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.NombreNegocio)</span>
                    </div>
                </div>
                <div class="uk-width-6-6">
                    @Html.LabelFor(P => P.Descripcion, new { @class = "uk-form-label" })
                    <div class="uk-form-controls" uk-tooltip="title: Escriba un texto descriptivo para la invitación...; pos: top-right">
                        @Html.TextAreaFor(P => P.Descripcion, new { @class = "uk-textarea ", @placeholder = "Descripción" })
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.Descripcion)</span>
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-1-2">
                    @Html.LabelFor(P => P.PrecioUnidad, new { @class = "uk-form-label" })
                    <div class="uk-form-controls" uk-tooltip="title: Indique el precio por unidad que cobra el local...; pos: top-right">
                        @Html.TextBoxFor(P => P.PrecioUnidad, new { @class = "uk-input ", @Type = "number", @placeholder = "Precio por unidad" })
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.PrecioUnidad)</span>
                    </div>
                </div>
                <div class="uk-width-1-2">
                    @Html.LabelFor(P => P.PrecioDocena, new { @class = "uk-form-label" })
                    <div class="uk-form-controls" uk-tooltip="title: Indique el precio por docena que cobra el local...; pos: top-right">
                        @Html.TextBoxFor(P => P.PrecioDocena, new { @class = "uk-input", @Type = "number", @placeholder = "Precio por docena" })
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.PrecioDocena)</span>
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-3-6">
                    <label class="uk-form-label" for="selectGusto">Gustos:</label>
                    <div class="uk-form-controls" uk-tooltip="title: Seleccione los gustos...; pos: top-right">
                        <select id="selectGusto" class="uk-select multiple" name="GustoEmpanadaDisponibles" multiple="multiple">
                            @foreach (var gusto in gustos)
                            {
                                if (Model.gustoEmpanadas.Any(x => x.IdGustoEmpanada == gusto.Id))
                                {
                                    <option selected>@gusto.Gusto</option>
                                }
                                else
                                {
                                    <option>@gusto.Gusto</option>
                                }
                            }
                        </select>
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.gustoEmpanadas)</span>
                    </div>
                </div>
            </div>

            <div uk-grid>
                <div class="uk-width-3-6">
                    <label class="uk-form-label" for="selectEmail">Sección de amigos:</label>
                    <table class="uk-table uk-table-divider">
                        <thead>
                            <tr>
                                <td>Usuario</td>
                                <td>Ya eligió</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Usuario u in Model.usuarios)
                            {
                                var invitacionUsuario = @Model.invitaciones.Find(x => x.IdUsuario == u.IdUsuario);
                                <tr>
                                    <td>@u.Email</td>

                                    <td>@(invitacionUsuario.Completado == false ? "No" : "si") </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-3-6">
                    <label class="uk-form-label" for="UsuariosNuevosString">Agregar mas amigos:</label>
                    <div class="uk-form-controls" uk-tooltip="title: Ingrese los emails separados por coma , ; pos: top-right">
                        <select id="UsuariosNuevosString" class="uk-select multiple" name="UsuariosNuevosString" multiple="multiple"></select>
                        <span class="validation-msg">@Html.ValidationMessageFor(P => P.UsuariosNuevosString)</span>
                    </div>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-3-6">
                    <label class="uk-form-label" for="reenviar">Reenviar emails</label>
                    <select name="reenviar" id="reenviar">
                        <option value="1" selected>A nadie</option>
                        <option value="2">Re-enviar invitacion a todos</option>
                        <option value="3">Enviar solo a los nuevos</option>
                        <option value="4">Re-Enviar solo a los que no eligieron gustos</option>
                    </select>
                </div>
            </div>
            <div uk-grid>
                <div class="uk-width-6-6">
                    <a href="/" type="button" value="Cancelar" class="uk-button uk-button-danger uk-button-small">Cancelar</a>
                    <input id="buttonSubmit" type="submit" name="sendPedido" value="Guardar Pedido" class="uk-button uk-button-primary uk-button-small" />
                    <a class="uk-button uk-button-secondary uk-button-small" href="#modal-confirmar" uk-toggle>Confirmar</a>
                </div>
            </div>
        }
    </div>
    

    <div id="modal-confirmar" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">¿Estas seguro?</h2>
            </div>
            <div class="uk-modal-body">
                <p>
                    ¿Está seguro que desea Confirmar el pedido? Una vez confirmado no se podrá modificar.
                </p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <a class="uk-button uk-button-primary" href="~/Pedido/Cerrar/@Model.IdPedido" uk-toggle>Confirmar</a>
            </div>
        </div>
    </div>
</div>
