@using LasEmpanadas.Models
@model InvitacionPedidoGustoEmpanadaUsuario
@{
    ViewBag.Title = "Elegir";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
}

<script type="text/javascript" src="~/Content/js/elegir-pedido.js"></script>


<div class="main-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport" uk-height-viewport="offset-top: true">
    <div class="uk-card uk-card-default">
        <div id="success" class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>Enviado!</h3>
            <p>Se han enviado los gustos exitosamente.</p>
        </div>

        <div id="fail" class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <h3>Ups!</h3>
            <p>No se ha podido enviar los gustos, vuelva a intentar.</p>
        </div>
        <div class="uk-card-media-top">
            <div class="uk-comment uk-comment-primary">
                <div class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <i class="fas fa-box-open fa-5x uk-text-warning"></i>
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove uk-text-bold uk-text-center">
                            <a class="uk-link-reset" href="#">@Model.Pedido.NombreNegocio</a>
                        </h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <li class="uk-text-bold">
                                <i class="fas fa-clipboard-list uk-padding-small" title="Estado del pedido"></i>
                                @Model.Pedido.EstadoPedido.Nombre
                            </li>
                            <li class="uk-text-uppercase">
                                <i class="fas fa-clock uk-padding-small" title="Fecha de creaci&oacute;n"></i>
                                <span class="uk-text-bold">@Model.Pedido.FechaCreacion</span>
                            </li>
                            <li>
                                <i class="fas fa-user uk-padding-small" title="Responsable"></i>
                                <span class="uk-text-bold">@Model.Pedido.Usuario.Email</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-panel uk-panel-box uk-text-break uk-text-center">
                    <p>@Model.Pedido.Descripcion</p>
                </div>
            </div>
        </div>
        <div class="uk-card-body uk-text-center">
            <h3 class="uk-card-title">Elija los gustos que desee</h3>
            <div class="uk-background-muted">
                <div>
                    Unidad $ <span id="precio-unidad">@Model.Pedido.PrecioUnidad</span>
                </div>
                <div>
                    Docena $ <span id="precio-docena">@Model.Pedido.PrecioDocena</span>
                </div>
            </div>
            @using (Html.BeginForm("Iniciar", "Pedido", FormMethod.Post, new { @class = "uk-form-horizontal", @id = "form" }))
            {
                @Html.HiddenFor(i => i.IdUsuario)
                <input type="hidden" id="token" value="@ViewBag.token"></input>
                <table class="uk-table uk-table-divider uk-table-hover uk-text-center">
                    <thead>
                        <tr>
                            <th class="uk-text-center">Gusto</th>
                            <th class="uk-text-center">Cantidad</th>
                            <th class="uk-text-center">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GustoEmpanada gusto in Model.Pedido.GustoEmpanada)
                        {
                            <tr>
                                <td>
                                    @Html.LabelFor(i => i.GustoEmpanada, gusto.Nombre)
                                    @Html.HiddenFor(i => gusto.IdGustoEmpanada, new { @class = "idGustoEmpanada"})
                                </td>
                                <td>
                                    @Html.TextBoxFor(i => i.Cantidad, new { @class = "uk-input cantidad", @Type = "number", @placeholder = "Cantidad" })
                                </td>
                                <td>$ <span class="precio-subtotal">0</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr>
                <div class="uk-text-large">
                    Total: $<b><span id="precio-total">150</span></b>
                </div>
                <input id="grabar" type="submit" value="Guardar" class="uk-button uk-button-primary uk-margin-medium-top uk-text-bold" />
            }
        </div>
    </div>
</div>



