@using LasEmpanadas.Models
@model List<Pedido>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/UsuarioLayout.cshtml";
    int idUser = Convert.ToInt32(Session["idUser"]);
}

<script type="text/javascript" src="~/Content/js/lista-pedidos.js"></script>

<div class="main-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport" uk-height-viewport="offset-top: true">
    <div class="uk-card-default uk-card-hover uk-card-body">
        <table id="tablaPedidos">
            <thead>
                <tr>
                    <th>Fecha Creaci&oacute;n</th>
                    <th>Nombre Negocio</th>
                    <th>Estado</th>
                    <th>Rol</th>
                    <th>Ver/Editar</th>
                    <th>Elegir Gustos</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Pedido in Model)
                {
                <tr>
                    <th>@Pedido.FechaCreacion</th>
                    <th>@Pedido.NombreNegocio</th>
                    <th>
                        @if (Pedido.IdEstadoPedido == 1)
                        {
                            <i class="fas fa-box-open fa-lg uk-text-warning" title="Abierto"></i>
                        }
                        else
                        {
                            <i class="fas fa-box fa-lg" title="Cerrado"></i>
                        }
                    </th>
                    <th>
                        @if (Pedido.IdUsuarioResponsable == idUser)
                        {
                            <i class="fas fa-user-circle fa-lg" title="Responsable"></i>
                        }
                        else
                        {
                            <i class="fas fa-users fa-lg" title="Invitado"></i>
                        }
                    </th>
                    <th>
                        @if (Pedido.IdEstadoPedido == 1)
                        {
                            if (Pedido.IdUsuarioResponsable == idUser)
                            {
                                @Html.ActionLink(" ", "Editar", "Pedido", new { idPedido = Pedido.IdPedido }, new { @class = "fas fa-marker fa-lg uk-text-info" })
                            }
                            else
                            {
                                @Html.ActionLink(" ", "Detalle", "Pedido", new { idPedido = Pedido.IdPedido }, new { @class = "fas fa-search fa-lg uk-text-info" })
                            }

                        }
                        else
                        {
                            @Html.ActionLink(" ", "Detalle", "Pedido", new { idPedido = Pedido.IdPedido }, new { @class = "fas fa-search fa-lg uk-text-info" })
                        }
                    </th>
                    <th>@Html.ActionLink(" ", "Elegir", "Pedido", new { id = Pedido.IdPedido }, new { @class = "fas fa-clipboard-list fa-lg uk-text-success" })</th>
                    <th>
                        @if (Pedido.IdUsuarioResponsable == idUser)
                        {
                            @Html.ActionLink(" ", "Eliminar", "Pedido", new { idPedido = Pedido.IdPedido }, new { @class = "fas fa-trash-alt fa-lg uk-text-danger" })
                        }
                        else
                        {
                            <i class="fas fa-times fa-lg uk-text-muted"></i>
                        }
                    </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
